body{
    margin: 0;
    margin: 0% 15% 0% 15%;
    
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 200;
    
}
/* header */
h1{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    color: #5b5963;
}
h1 span{

    font-size: 10px;
    letter-spacing: 0.1em;
}

.header_container{
    display: flex;
    justify-content:space-between ;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 11px 10px -10px rgba(0,0,0,0.94); 
    box-shadow: 0px 11px 10px -10px rgba(0,0,0,0.94);
}
.header_nav{
    display: flex;
}

.header_ul{
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
    padding-right: 30px;
}

.header_li{
    font-size: 15px;
    height: 100%;
    padding: 0px 15px 0px 15px;
    
}
.header_li:hover{
   background-color: #222222a2;
}

.header_li a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center; 
}
.header_li a:hover{
    color: white;
}

.active {
    background-color: black;
    color: white;
}
.header_li.active a {
    color: white;
}
 
/*section présentation  */
#presentation{
    text-align: center;
    padding: 50px;
}

/* section travaux */
#travaux {
    text-align: center;   
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px;
    width: 100%;
}

#gallery img {
	width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.container_project{
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 18px 7px rgba(64,64,64,0.53); 
    box-shadow: 8px 8px 18px 7px rgba(64,64,64,0.53);
    cursor: pointer;
     transition: transform 0.3s; /* Pour ajouter une animation fluide */
}
.container_project:hover {
    transform: scale(1.1);
   
}

/* section compétence */ 
#competences{
    text-align: center;
}
#icone{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 5%;
    list-style: none;
    width: 100%;
}
.icone-list {
    
    border-radius: 5px;
    padding: 5px;

}

.style-icone{
    font-size: 200%;
    display: flex;
    justify-content: center;   
    
}
.name-icone{
    font-size: 15px;
}
.list_competence{
list-style: none;
}
footer {
    text-align: center;
    color: white;
    background-color: black;
}
/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


