body{
    margin: 0% 12.5% 0% 12.5%;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 200;
    padding: 75px;
    padding: 100px 0px 75px 0px
    
}
footer {
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    padding: 25px;    
}
section{
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 75px;
}
/* header */
header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 75%;
}
h1{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    color: #5b5963;
}
h1 span{

    font-size: 10px;
    letter-spacing: 0.1em;
}

.header_container{
    display: flex;
    justify-content:space-between ;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 11px 10px -10px rgba(0,0,0,0.94); 
    box-shadow: 0px 11px 10px -10px rgba(0,0,0,0.94);
}
.header_nav{
    display: flex;
}
.header_nav-reponsive{
    display: none
}

.header_ul{
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
    padding-right: 30px;
}

.header_li{
    font-size: 15px;
    height: 100%;
    padding: 0px 15px 0px 15px;
    
}
.header_li:hover{
   background-color: #222222a2;
}

.header_li a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center; 
}
.header_li a:hover{
    color: white;
}
 
/*section présentation  */
#presentation{
    text-align: center;
    margin-top: 75px;
}

/* section travaux */
#travaux {
    text-align: center;   
}
.container_gallery{
    display:  flex;
    margin-inline: 10%;
    
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 50px;
    width: 100%;
}

#gallery img {
	width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.container_project{
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 18px 7px rgba(64,64,64,0.53); 
    box-shadow: 8px 8px 18px 7px rgba(64,64,64,0.53);
    cursor: pointer;
    transition: transform 0.3s; 
}
.container_project:hover {
    transform: scale(1.1);
   
}

/* section compétence */ 
#competences{
    text-align: center;
}
#icone{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 5%;
    list-style: none;
    width: 100%;
}
.icone-list {
    transition: transform 0.3s;
    border-radius: 5px;
    padding: 5px;

}
li.icone-list:hover {
    transform: scale(1.5);
}
.style-icone{
    font-size: 200%;
    display: flex;
    justify-content: center;   
    
}
.name-icone{
    font-size: 15px;
}
.list_competence{
list-style: none;
}


/*section contact */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    border: none;
}
.contact_lien{
    text-decoration: none;
}
.container_envelope{
    width: 250px;
    height: 250px;
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    border-radius: 125px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 11px rgba(48,48,48,0.26); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 11px rgba(48,48,48,0.26);
    animation: scale 2s infinite;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.style_envelope{
    font-size: 400%;
    color: white; 
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0) scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: translateZ(-260px) rotateY(-180deg);
        transform: translateZ(-260px) rotateY(-180deg) scale(1);
    }
}


/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
       
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#modal-title{
    padding: 0px;
}
.size-logo-modal{
    font-size: 50px;
    color: #1e1e1e;
}
.link-github{
    text-decoration: none;
}
.link-site{
    text-decoration: none;
    padding-left: 25px;
}

#modal-technologies{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 0;
    margin-left: 10%;
}
.modal-container-technologie {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.size-technologie{
    font-size: 50px;
}



/* RESPONSIVE TELEPHONE */
@media (max-width: 1024px) {
    body{
        margin: 0% 5% 0% 5%;
    }
    header{
        left: 0;
        width: 100%;
    }
    .header_nav  {
        background-color: rgba(255, 255, 255, 0.299);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: ALL 0.5s ease;
    }
    .mobile-menu{
        margin-left:0 ;
    }
    .header_nav ul {
        height: 25%;
        display: flex;
        flex-direction: column;
    }
    .header_nav-reponsive{
        display: block;
        position: absolute;
        top: 20%;;
        left: 90%;
        font-size: 20px;
    }

    h1{
        font-size: 15px;
        margin-left: 2%;
    }
    h1 span {
        font-size: 8px;
    }
    h2{
        padding: 75px 0px 25px 0px;
    }
    #gallery{
        grid-template-columns: 1fr 1fr;
    }
    
    #modal-image{
        width: 100%;
    }
    .modal-content{
        width: 75%;
    }
    #modal-description{
        font-size: 12px;
    }
    .size-logo-modal{
        font-size: 200%;
    }.modal-container-technologie{
        font-size: 13px;
    }
    #icone{
        flex-wrap: wrap; 
    }
    .list_competence {
        font-size: 12px;
        line-height: 3em;
        padding: 0;
    }
    .style_envelope {
        font-size: 250%
    }
    .container_envelope {
        width: 215px;
        height: 100px;
    }
}
/* RESPONSIVE TABLETTE */
@media (max-width: 720px) {
    #gallery{
        grid-template-columns: 1fr;
    }
    .size-logo-modal{
        font-size: 150%;
    }
    }